/* Stylesheet for landing page */
.landing{
	width: 100%;
	height: 100%;
	background: url("../background.jpg") repeat repeat;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.landing span{
	max-width: 550px;
    text-align: center;
	position: relative;
}

.logo{
	width: 150px;
	height: 150px;
	margin-bottom: 5vh;
	animation: upDown 2s infinite;
}

.next{
	width: 100%;
	padding: 15px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	clear: both;
}
.next i{ cursor: pointer; color: rgba(255, 255, 255, 0.5); transition: .5s; }
.next i:hover{ color: rgba(255, 255, 255, 1); text-shadow: 1px 0px #000; }

.main{
	width: 100%;
	box-sizing: border-box;
	background-color: #F0F0F0;
	box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
	padding: 5vh 3vw;
}
.container{ background-color: #ffffff; padding: 5vh 3vw; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.1); }
._heading{ border-bottom: 1px solid #fff; }

.grid-left{ border-radius: 10px 0 0 0; }
.grid-right{ border-radius: 0 10px 0 0; }
.grid-bottom{ border-radius: 0 0 10px 10px; }
@media (max-width: 768px){
.grid-left{ border-radius: 10px 10px 0 0; }
.grid-right{ border-radius: 0; }
.grid-bottom{ border-radius: 0 0 10px 10px; }
}
.grid-block{
	background-color: rgba(50, 50, 50, 0.5);
	text-align: center;
	color: #ffffff;
}
/* Logo animation */
@keyframes upDown {
    0% { transform: translate(0, 0) }
    50% { transform: translate(0, 15px) }
	100% { transform: translate(0, 0) }
}