/* Main */
*{
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	font: 400 1.05rem 'Cabin', sans-serif;
	margin: 0;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

/* Typography */
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 400;
}
h1 { font-size: 3.3rem; line-height: 1.0;  letter-spacing: -.03rem;}
h2 { font-size: 2.8rem; line-height: 1.0; letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.0;  letter-spacing: -.1rem; }
h4 { font-size: 2.0rem; line-height: 1.0; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.0;  letter-spacing: -.05rem; }
h6 { font-size: 1.4rem; line-height: 1.0;  letter-spacing: 0; }
b{ font-weight: 600; }
strong{ font-weight: bold; }


/* Grids */
.lg-grid-container{
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.lg-grid-container::after{
	content: "";
    clear: both;
    display: table;
}

[class*="lg-grid-col-"] {
	display: inline-block;
    padding: 10px;
	width: 100%;
	margin: 1% 0 1% 1%;
	box-sizing: border-box;
	vertical-align: top;
}
[class*="lg-grid-col-"]:first-child{
	margin-left: 0;
}

.lg-grid-container .lg-grid-col-1 {width: 7.33%; }
.lg-grid-container .lg-grid-col-2 {width: 15.66%;}
.lg-grid-container .lg-grid-col-3 {width: 24%;}
.lg-grid-container .lg-grid-col-4 {width: 32.33%;}
.lg-grid-container .lg-grid-col-5 {width: 40.66%;}
.lg-grid-container .lg-grid-col-6 {width: 49%;}
.lg-grid-container .lg-grid-col-7 {width: 57.33%;}
.lg-grid-container .lg-grid-col-8 {width: 65.66%;}
.lg-grid-container .lg-grid-col-9 {width: 74%;}
.lg-grid-container .lg-grid-col-10 {width: 82.33%;}
.lg-grid-container .lg-grid-col-11 {width: 90.66%;}
.lg-grid-container .lg-grid-col-12 {width: 99%; }

.lg-grid-container.no_spacing .lg-grid-col-1 { width: 8.33%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-2 { width: 16.66%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-3 { width: 25%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-4 { width: 33.33%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-5 { width: 41.66%; margin: 0;  }
.lg-grid-container.no_spacing .lg-grid-col-6 { width: 50%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-7 { width: 58.33%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-8 { width: 66.66%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-9 { width: 75%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-10 { width: 83.33%; margin: 0;}
.lg-grid-container.no_spacing .lg-grid-col-11 { width: 91.66%; margin: 0; }
.lg-grid-container.no_spacing .lg-grid-col-12 { width: 100%; margin: 0; }

/* Forms */
form label{ font-weight: 500; }
input[type="text"], input[type="password"], input[type="email"], textarea, select{
	max-width: 100%;
	min-width: 100%;
	padding: 10px;
	font: 400 1.05rem 'Cabin', sans-serif;
	border-radius: 7px;
	border: 1px solid #BDBDBD;
	background-color: transparent;
	margin: 5px 0px;
}
input:not([type="submit"]):hover, textarea:hover, select:hover{ border: 1px solid #6BB9F0; }
input:not([type="submit"]):focus, textarea:focus, select:focus{ border: 1px solid #6BB9F0; box-shadow: inset 0 0 0 1px #6BB9F0; }
input[type="radio"]{ display: none; }
input[type="radio"] + label{ cursor: pointer; padding: 7px 10px; border: 1px solid #BDBDBD; border-radius: 5px; margin: 5px 0px; display: inline-block; }
input[type="radio"]:checked + label{ border: 1px solid #6BB9F0; color: #3498DB; box-shadow: inset 0 0 0 1px #6BB9F0; }

input[type="checkbox"]{ display: none; }
input[type="checkbox"] + label{ cursor: pointer; padding: 7px 10px; border: 1px solid #BDBDBD; border-radius: 5px; margin: 5px 0px; display: inline-block; }
input[type="checkbox"]:checked + label{ border: 1px solid #6BB9F0; color: #3498DB; box-shadow: inset 0 0 0 1px #6BB9F0; }

input[type="submit"], .lg-button{
	padding: 10px 30px;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 50px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
	margin: 10px 10px 10px 0px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: transparent;
	font: 400 1.05rem 'Cabin', sans-serif;
}
.lg-button._fadeIn{ border-color: rgba(255, 255, 255, 0.8); color: rgba(255, 255, 255, 0.8); transition: 0.2s; }
.lg-button._fadeIn:hover{ border-color: rgba(255, 255, 255, 1); color: rgba(255, 255, 255, 1); }



/* Colors */
/* Buttons */
.lg-button._red{ border-color: rgba(231, 76, 60, 1); color: rgba(231, 76, 60, 1); }
.lg-button._red._fadeIn{ border-color: rgba(231, 76, 60, 0.7); color: rgba(231, 76, 60, 0.7); transition: 0.2s; }
.lg-button._red._fadeIn:hover{ border-color: rgba(231, 76, 60, 1); color: rgba(231, 76, 60, 1); }

.lg-button._purple{ border-color: rgba(145, 61, 136, 1); color: rgba(145, 61, 136, 1); }
.lg-button._purple._fadeIn{ border-color: rgba(145, 61, 136, 0.7); color: rgba(145, 61, 136, 0.7); transition: 0.2s; }
.lg-button._purple._fadeIn:hover{ border-color: rgba(145, 61, 136, 1);	color: rgba(145, 61, 136, 1); }

.lg-button._blue{ border-color: rgba(82, 179, 217, 1); color: rgba(82, 179, 217, 1); }
.lg-button._blue._fadeIn{ border-color: rgba(82, 179, 217, 0.7); color: rgba(82, 179, 217, 0.7); transition: 0.2s; }
.lg-button._blue._fadeIn:hover{ border-color: rgba(82, 179, 217, 1);	color: rgba(82, 179, 217, 1); }

.lg-button._green{ border-color: rgba(0, 177, 106, 1); color: rgba(0, 177, 106, 1); }
.lg-button._green._fadeIn{ border-color: rgba(0, 177, 106, 0.7); color: rgba(0, 177, 106, 0.7); transition: 0.2s; }
.lg-button._green._fadeIn:hover{ border-color: rgba(0, 177, 106, 1);	color: rgba(0, 177, 106, 1); }

.lg-button._gold{ border-color: rgba(247, 202, 24, 1); color: rgba(247, 202, 24, 1); }
.lg-button._gold._fadeIn{ border-color: rgba(247, 202, 24, 0.7); color: rgba(247, 202, 24, 0.7); transition: 0.2s; }
.lg-button._gold._fadeIn:hover{ border-color: rgba(247, 202, 24, 1);	color: rgba(247, 202, 24, 1); }

.lg-button._dark{ border-color: rgba(44, 62, 80, 1); color: rgba(44, 62, 80, 1); }
.lg-button._dark._fadeIn{ border-color: rgba(44, 62, 80, 0.7); color: rgba(44, 62, 80, 0.7); transition: 0.2s; }
.lg-button._dark._fadeIn:hover{ border-color: rgba(44, 62, 80, 1);	color: rgba(44, 62, 80, 1); }

/* Other */
hr{
	 border: 0;
	 height: 1px;
	 background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(120, 120, 120, 0.5), rgba(0, 0, 0, 0.1));
	 margin: 30px 0;
}
.clear::after{
	content: "";
    clear: both;
    display: table;
}
.center{
	text-align: center;
	margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px){
.lg-grid-container .lg-grid-col-1 { width: 100%; }
.lg-grid-container .lg-grid-col-2 { width: 100%; }
.lg-grid-container .lg-grid-col-3 { width: 100%; }
.lg-grid-container .lg-grid-col-4 { width: 100%; }
.lg-grid-container .lg-grid-col-5 { width: 100%; }
.lg-grid-container .lg-grid-col-6 { width: 100%; }
.lg-grid-container .lg-grid-col-7 { width: 100%; }
.lg-grid-container .lg-grid-col-8 { width: 100%; }
.lg-grid-container .lg-grid-col-9 { width: 100%; }
.lg-grid-container .lg-grid-col-10 { width: 100%; }
.lg-grid-container .lg-grid-col-11 { width: 100%; }
.lg-grid-container .lg-grid-col-12 { width: 100%; }

.lg-grid-container.no_spacing .lg-grid-col-1 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-2 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-3 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-4 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-5 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-6 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-7 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-8 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-9 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-10 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-11 { width: 100%; }
.lg-grid-container.no_spacing .lg-grid-col-12 { width: 100%; }
}