*{ box-sizing: border-box; cursor: default; }
body{
  margin: 0;
  font: normal 1em 'Press Start 2P', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

:root{
  --width: 30vw;
  --height: 100vh;
}
[data-scene]:not(:first-child){ display: none; }

.mute{ position: absolute; font-size: 1.5em; top: 15px; right: 15px; color: #ffffff; }
.mute.off{ filter: opacity(0.3); }

/* -----
-- ESCENA: PreLoad
------*/
.preload{
  width: var(--width);
  height: var(--height);
  background: rgba(0, 0, 0, 1);
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: preload 2s linear 0s 1;
  cursor: default;
  position: relative;
  margin: 0 auto;
}
.preload p{ font-size: 1.3em; animation: preload_text .5s linear 1.5s 1; }

@keyframes preload{
  from{ background: rgba(255, 255, 255, 1); }
  to{ background: rgba(0, 0, 0, 1); }
}
@keyframes preload_text{
  0%{ font-size: 1.3em; }
  50%{ font-size: 1.35em; }
  100%{ font-size: 1.3em; }
}

/* -----
-- ESCENA: Menu
------*/
.menu{
  width: var(--width);
  height: var(--height);
  background: url('../sprites/intro.gif') no-repeat no-repeat 0% 0%;
  background-size: cover;
  animation: menu_background 60s linear 0s infinite;
  position: relative;
  margin: 0 auto;
}

.menu div{
  width: 100%;
  height: 50%;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu .menuOptions p{ cursor: pointer; margin: 20px 0; }

@keyframes menu_background {
  0%{
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}

/* -----
-- ESCENA: Instructions & Credits
------*/
.instructions{
  width: var(--width);
  height: var(--height);
  background: rgba(0, 0, 0, 1);
  padding: 3% 0;
  font-size: 1em;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
}
.instructions .text{
  width: 90%;
  margin: 0 auto;
}
.instructions .back{
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

/* -----
-- ESCENA: Créditos
------*/
.credits{
  width: var(--width);
  height: var(--height);
  background: rgba(0, 0, 0, 1);
  padding: 2% 0;
  font-size: 1em;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
}
.credits .text{
  width: 90%;
  margin: 0 auto;
}
.credits .text h3{ padding-bottom: 10px; border-bottom: 2px solid #ffffff; }
.credits .back{
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

/* -----
-- ESCENA: Game
------*/
.game{
  font-size: 1.3em;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.game .world{
  width: 100%;
  height: 80vh;
  background: url("../sprites/platform.png") repeat no-repeat 0% 100%, url("../sprites/background.png") repeat no-repeat 0% calc(100% - 64px);
  /* filter: sepia(80%); */
  animation: platform 10s linear 0s infinite;
  position: relative;
}
.game .world #score{ position: absolute; top: 15px; left: 15px; }
.game .world .hero{
  width: 48px;
  height: 48px;
  background: url("../sprites/orange.gif") no-repeat no-repeat;
  position: absolute;
  top: calc(100% - 112px);
  left: 0; right: 0;
  margin: 0 auto;
  transform: scale(1.2) rotate(0deg);
  animation: hero .7s linear 0s infinite;
}

@keyframes hero {
  to{ transform: scale(1.2) rotate(360deg); }
}

.game .buttons{
  width: 30vw;
  height: 20vh;
  background: rgba(0, 0, 0, .8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.game .buttons span{
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
  border: 2px solid rgba(255, 255, 255, 1);
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}
.game .buttons span._red{ background: linear-gradient(rgba(217, 30, 24, 1), rgba(207, 0, 15, 1)); }
.game .buttons span._red:before{ content: 'Q'; }
.game .buttons span._blue{ background: linear-gradient(rgba(58, 83, 155, 1), rgba(38, 64, 137, 1)); }
.game .buttons span._blue:before{ content: 'W'; }
.game .buttons span._green{ background: linear-gradient(rgba(38, 166, 91, 1), rgba(0, 148, 50,1.0)); }
.game .buttons span._green:before{ content: 'E'; }
.game .buttons span._yellow{ background: linear-gradient(rgba(225, 177, 44, 1.0), rgba(247, 183, 49,1.0)); }
.game .buttons span._yellow:before{ content: 'R'; }
.game .buttons span._red.active{ box-shadow: 0px 0px 10px 10px rgba(234, 32, 39, .6); animation: grow 1s linear 0s infinite; }
.game .buttons span._blue.active{ box-shadow: 0px 0px 10px 10px rgba(6, 82, 221, .6); animation: grow 1s linear 0s infinite; }
.game .buttons span._green.active{ box-shadow: 0px 0px 10px 10px rgba(0, 148, 50, .6); animation: grow 1s linear 0s infinite; }
.game .buttons span._yellow.active{ box-shadow: 0px 0px 10px 10px rgba(255, 195, 18, .6); animation: grow 1s linear 0s infinite; }

@keyframes grow {
  0% { transform: scale(1); }
  50% { transform: scale(.95); }
  100%{ transform: scale(1); }
}
@keyframes platform {
  to{ background-position: 0% 100%, 100% calc(100% - 64px); }
}

@media (max-width: 800px) {
  :root{
    --width: 100vw;
    --height: 100vh;
  }
  .game{ width: 100vw; }
  .game .buttons{ width: 100vw; }
  .game .buttons span{ width: 10vh; height: 10vh; line-height: 10vh; }

  .game .buttons span._red:before{ content: ''; }
  .game .buttons span._blue:before{ content: ''; }
  .game .buttons span._green:before{ content: ''; }
  .game .buttons span._yellow:before{ content: ''; }
}
