@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #2c3e50;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.instructions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.instructions>.heading {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.instructions>.button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 8px;
  background-color: #079992;
  cursor: pointer;
}

.instructions>.button.gold {
  background-color: #ff7f50;
}

.instructions>.button.dark {
  color: white;
  background-color: #333333;
  border: 2px solid white;
}

.overlay {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #dddddd;
  z-index: 9999;
}

.overlay>.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
}

.overlay>.content {
  min-width: 600px;
  max-width: 1024px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.overlay>.content>.heading {
  font-size: 2rem;
  font-weight: 600;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 1rem;
}

.questionnaire>.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border: 5px solid #ffffff;
  margin-bottom: 2rem;
  border-radius: 8px;
  position: relative;
}

.questionnaire>.question.valid {
  border: 5px solid green;
}

.questionnaire>.question.invalid {
  border: 5px solid red;
}

.questionnaire>.question>.status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

.questionnaire>.question.valid>.status:before {
  content: "✅"
}

.questionnaire>.question.invalid>.status:before {
  content: "❌"
}

.questionnaire>.question>.heading {
  font-size: 1.75rem;
  font-weight: 600;
}

.questionnaire>.question>.answer {
  font-size: 1rem;
  font-weight: bold;
  color: #404040;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #b4b4b4;
}

.questionnaire>.question>.answer:before {
  content: "Respuesta: "
}

.questionnaire>.question>.answer input,
.questionnaire>.question>.answer textarea {
  outline: 0;
  font-family: inherit;
  font-size: 1rem;
}

.verify {
  width: 100%;
  background-color: #079992;
  border: 3px solid white;
  border-radius: 8px;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.verify.blocked {
  opacity: 0.75;
  background-color: #252525;
  cursor: not-allowed;
}