@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cabin-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Cabin-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("../images/background.png"), -webkit-linear-gradient(to bottom right, rgba(22, 160, 133, 1), rgba(26, 188, 156, 1)) fixed;
	font-family: Cabin;
}

body h1{
	font-size: 2.5em;
	margin: 0;
}

header{
	width: 100%;
	box-sizing: border-box;
	padding: 2%;
	text-align: right;
}

header .icon{
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
	transition: linear 0.3s;
}
header .icon:hover{ color: rgba(255, 255, 255, 1); text-shadow: 1px 1px 2px #08715d; }

.container{
	width: 800px;
	min-height: 200px;
	padding: 2%;
	height: 200px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	font-size: 1.25em;
	color: #ffffff;
	text-shadow: 1px 1px 5px #08715d;
}

.container.questions{
	display: none;
}

.container.questions #showQuestion{
	font-size: 1.25em;
}

.result{
	width: 800px;
	min-height: 200px;
	padding: 2%;
	margin: 3vh auto;
	font-size: 1.25em;
	color: #ffffff;
	display: none;
}

.resultContent{
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.35), 0 1px 2px rgba(0, 0, 0, 0.2);
}

input[type=submit]{
	padding: 20px 35px;
	border: 0;
	background-color: #191919;
	color: #ffffff;
	font-weight: bold;
	border-radius: 50px;
	display: block;
	margin: 5% auto;
	text-transform: uppercase;
	cursor: pointer;
	font-family: Cabin;
	letter-spacing: 2px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #ffffff;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Table */
table { 
	width: 100%; 
	border-collapse: collapse;
	margin-top: 10px;
}
tr:nth-of-type(odd) { 
	background: #eee;
}
th {
	padding: 6px; 
	background: #333; 
	color: #ffffff; 
	font-weight: bold;
}
td { 
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: center;
	color: #000000; 
}

@media (max-width: 768px){
.container{
	width: 95%;
	min-height: 200px;
	margin: 20vh auto;
	font-size: 1.25em;
	box-sizing: border-box;
}
}